# Rossmann Pharmaceutical Sales

### Explanatory Data Analysis

In [1]:
import numpy as np
import pandas as pd
import sys, os
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 50)

sys.path.append(os.path.abspath(os.path.join('../scripts')))
from cleaner import *
from visualizer import *

### Reading Data

In [3]:
# reading the store csv file
store_df = pd.read_csv("../data/store.csv")
store_df.head(10)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN

In [4]:
# reading the sales training csv file
train_df = pd.read_csv("../data/train.csv")
train_df.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1

In [5]:
# number of elements in the store df
store_df.size

11150

In [6]:
# rows and columns in the df
store_df.shape

(1115, 10)

In [7]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [8]:
# number of elements in the train df
train_df.size

9154881

In [9]:
# rows and columns in the df
train_df.shape

(1017209, 9)

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

### Missing Values

In [11]:
percent_missing_values(store_df)

The dataset contains 21.01 % missing values.

In [12]:
missing_df = missing_values_table(store_df)

Your selected dataframe has 10 columns.
There are 6 columns that have missing values.

In [13]:
missing_df

                           Missing Values  % of Total Values    Dtype
Promo2SinceWeek                       544              48.79  float64
Promo2SinceYear                       544              48.79  float64
PromoInterval                         544              48.79   object
CompetitionOpenSinceMonth             354              31.75  float64
CompetitionOpenSinceYear              354              31.75  float64
CompetitionDistance                     3               0.27  float64

In [14]:
max_dist = store_df['CompetitionDistance'].max()
max_dist

75860.0

In [15]:
fix_missing_value(store_df, ['CompetitionDistance'], max_dist)

3 missing values in the column CompetitionDistance have been replaced by 75860.0.

In [16]:
# final check for missing values
percent_missing_values(store_df)

The dataset contains 20.99 % missing values.

In [17]:
min_year = store_df['CompetitionOpenSinceYear'].min()
min_year

1900.0

In [18]:
# impute the column CompetitionOpenSinceYear with 1900 and the column CompetitionOpenSinceMonth with 1
fix_missing_value(store_df, ['CompetitionOpenSinceYear'], min_year)
fix_missing_value(store_df, ['CompetitionOpenSinceMonth'], 1)

354 missing values in the column CompetitionOpenSinceYear have been replaced by 1900.0.
354 missing values in the column CompetitionOpenSinceMonth have been replaced by 1.

In [19]:
fix_missing_value(store_df, ['Promo2SinceWeek', 'Promo2SinceYear'], 0)

544 missing values in the column Promo2SinceWeek have been replaced by 0.
544 missing values in the column Promo2SinceYear have been replaced by 0.

In [20]:
fix_missing_value(store_df, ['PromoInterval'], '0,0,0,0')

544 missing values in the column PromoInterval have been replaced by 0,0,0,0.

In [21]:
# final check for missing values
percent_missing_values(store_df)

The dataset contains 0.0 % missing values.

In [22]:
percent_missing_values(train_df)

The dataset contains 0.0 % missing values.

## Data Types

In [23]:
store_df.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [24]:
store_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,"0,0,0,0"
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,0.0,0.0,"0,0,0,0"
4,5,a,a,29910.0,4.0,2015.0,0,0.0,0.0,"0,0,0,0"

##### StoreType, Assortment and PromoInterval hold string values. we will change this object types to string.

In [25]:
# get the columns with object data type
string_columns = store_df.select_dtypes(include='object').columns.tolist()
string_columns

['StoreType', 'Assortment', 'PromoInterval']

In [26]:
convert_to_string(store_df, string_columns)

In [27]:
convert_to_int(store_df, ['CompetitionOpenSinceMonth',  'CompetitionOpenSinceYear',
        'Promo2SinceWeek', 'Promo2SinceYear'])

In [28]:
store_df.dtypes

Store                          int64
StoreType                     string
Assortment                    string
CompetitionDistance          float64
CompetitionOpenSinceMonth      int64
CompetitionOpenSinceYear       int64
Promo2                         int64
Promo2SinceWeek                int64
Promo2SinceYear                int64
PromoInterval                 string
dtype: object

In [29]:
store_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0"
1,2,a,a,570.0,11,2007,1,13,2010,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12,2006,1,14,2011,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9,2009,0,0,0,"0,0,0,0"
4,5,a,a,29910.0,4,2015,0,0,0,"0,0,0,0"

In [30]:
train_df['StateHoliday'].value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [31]:
train_df['StateHoliday'].value_counts().index

Index(['0', 0, 'a', 'b', 'c'], dtype='object')

#### Here 0 is represented as an integer and a string. Since there are other string values we will convert the StateHoliday column into string.

In [32]:
convert_to_string(train_df, ['StateHoliday'])

In [33]:
train_df.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     string
SchoolHoliday     int64
dtype: object

In [34]:
convert_to_datetime(train_df, ['Date'])

In [35]:
train_df.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             string
SchoolHoliday             int64
dtype: object

## Duplicates

In [36]:
# search for duplicate rows and drop them
drop_duplicates(store_df)

No duplicate rows were found.

In [37]:
# search for duplicate rows and drop them
drop_duplicates(train_df)

No duplicate rows were found.

# Feature Engineering

In [38]:
train_df['Year'] = train_df['Date'].apply(lambda x: x.year)
train_df['Month'] = train_df['Date'].apply(lambda x: x.month)
train_df['DayOfMonth'] = train_df['Date'].apply(lambda x: x.day)
train_df['WeekOfYear'] = train_df['Date'].apply(lambda x: x.weekofyear)
train_df['weekday'] = train_df['DayOfWeek'].apply(lambda x: 0 if (x in [6, 7]) else 1)

In [39]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  string
 8   SchoolHoliday  1017209 non-null  int64
 9   Year           1017209 non-null  int64
 10  Month          1017209 non-null  int64
 11  DayOfMonth     1017209 non-null  int64
 12  WeekOfYear     1017209 non-null  int64
 13  weekday        1017209 non-null  int64
dtypes: datetime64[ns](1), int64(12), string(1)
memory usage: 116.4 MB

In [40]:
train_df.sample(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,DayOfMonth,WeekOfYear,weekday
375892,242,1,2014-08-04,6438,504,1,1,0,1,2014,8,4,32,1
513327,98,5,2014-03-28,5014,448,1,0,0,0,2014,3,28,13,1
553541,172,4,2014-02-20,6274,818,1,1,0,0,2014,2,20,8,1
129218,994,2,2015-04-07,4460,471,1,0,0,1,2015,4,7,15,1
190720,56,2,2015-02-10,6485,480,1,0,0,0,2015,2,10,7,1
576995,211,4,2014-01-30,11176,1456,1,0,0,0,2014,1,30,5,1
752427,588,1,2013-08-26,7081,782,1,1,0,0,2013,8,26,35,1
340092,1030,5,2014-09-12,3233,301,1,0,0,0,2014,9,12,37,1
719778,274,2,2013-09-24,2988,844,1,1,0,0,2013,9,24,39,1
952274,850,4,2013-02-28,5355,606,1,0,0,0,2013,2,28,9,1

In [41]:
def getMonth(month_list, index):
    months = ['0', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
    month_list = month_list.split(',')
    month = month_list[index]
    return months.index(month)

In [42]:
# split the PromoInterval column into 4 columns
store_df['PromoInterval0'] = store_df.PromoInterval.apply((lambda x: getMonth(x, 0)))
store_df['PromoInterval1'] = store_df.PromoInterval.apply((lambda x: getMonth(x, 1)))
store_df['PromoInterval2'] = store_df.PromoInterval.apply((lambda x: getMonth(x, 2)))
store_df['PromoInterval3'] = store_df.PromoInterval.apply((lambda x: getMonth(x, 3)))

In [43]:
store_df.sample(10)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,PromoInterval0,PromoInterval1,PromoInterval2,PromoInterval3
365,366,d,c,6470.0,12,2004,0,0,0,"0,0,0,0",0,0,0,0
216,217,c,a,3150.0,1,1900,0,0,0,"0,0,0,0",0,0,0,0
91,92,c,a,240.0,1,1900,1,45,2009,"Feb,May,Aug,Nov",2,5,8,11
1076,1077,a,a,3750.0,11,2001,1,35,2010,"Mar,Jun,Sept,Dec",3,6,9,12
837,838,d,c,6890.0,1,1900,1,48,2011,"Mar,Jun,Sept,Dec",3,6,9,12
75,76,d,c,19960.0,3,2006,0,0,0,"0,0,0,0",0,0,0,0
325,326,d,a,10070.0,5,2015,1,31,2013,"Feb,May,Aug,Nov",2,5,8,11
609,610,a,a,660.0,1,2007,0,0,0,"0,0,0,0",0,0,0,0
697,698,a,a,1790.0,5,2011,0,0,0,"0,0,0,0",0,0,0,0
702,703,a,a,80.0,6,2005,0,0,0,"0,0,0,0",0,0,0,0

In [45]:
train_df.to_csv('../data/train.csv')
store_df.to_csv('../data/store.csv')
#data saved as version 2

In [ ]:
# merging store_df and train_df
df = pd.merge(train_df, store_df, how='inner', on='Store')
df.shape

df.to_csv('../data/train.csv')
#data saved as version 3

# Univariate Analysis

### Non-Graphical Univariate Analysis

In [ ]:

df.describe().transpose()

### Store Type

In [ ]:
# unique value counts
counts_df = store_df['StoreType'].value_counts()
counts_df

In [ ]:
plotly_plot_pie(store_df, 'StoreType')

### Assortment

In [ ]:
# unique value counts
counts_df = store_df['Assortment'].value_counts()
counts_df

In [ ]:
plotly_plot_pie(store_df, 'Assortment')

In [ ]:
plotly_plot_hist(store_df, 'CompetitionDistance')

In [ ]:
# unique value counts
counts_df = store_df['Promo2'].value_counts()
counts_df

### Day Of Week

In [ ]:
plot_count(train_df, 'DayOfWeek')

### Sales

In [ ]:
plot_hist(train_df, 'Sales')

### Customers

In [ ]:
plot_hist(train_df, 'Customers')

### Open

In [ ]:
plot_count(train_df, 'Open')

### Promo

In [ ]:
plot_count(train_df, 'Promo')

In [ ]:
# unique value counts
counts_df = train_df['StateHoliday'].value_counts()
counts_df

In [ ]:
# unique value counts
counts_df = train_df['SchoolHoliday'].value_counts()
counts_df

# Bivariate Analysis

#### State holidays and Sales

In [ ]:
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(12,4))

# holidays and no_holidays
sns.barplot(x='StateHoliday', y='Sales', data=train_df, ax=axis1).set_title('Comparison of sales during StateHolidays and ordinary days')

# holidays only
mask = (train_df["StateHoliday"] != "0") & (train_df["Sales"] > 0)
sns.barplot(x='StateHoliday', y='Sales', data=train_df[mask], ax=axis2).set_title('Sales during Stateholidays')
plt.show()

#### School Holidays with Sales and Customers

In [ ]:
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(12,4))

sns.barplot(x='SchoolHoliday', y='Sales', data=train_df, ax=axis1).set_title('Comparison of sales vs StateHoliday')
sns.barplot(x='SchoolHoliday', y='Customers', data=train_df, ax=axis2).set_title('Comparison of customers vs StateHoliday')
plt.show()

#### Store type with sales and customers

In [ ]:
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(15,4))
sns.barplot(x='StoreType', y='Sales', data=df, ax=axis1, palette = 'Set3', order=['a','b','c', 'd']).set_title('Sales across different StoreType')
sns.barplot(x='StoreType', y='Customers', data=df, ax=axis2, palette = 'Set3', order=['a','b','c', 'd']).set_title('No. of customers across diffrent StoreType')
plt.show()

#### Assortment with Sales and customers

In [ ]:
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(15,4))

sns.barplot(x='Assortment', y='Sales', data=df, palette = 'husl', order=['a','b','c'], ax=axis1).set_title('Sales across different assortment types')
sns.barplot(x='Assortment', y='Customers', data=df, palette = 'husl', order=['a','b','c'], ax=axis2).set_title('Customers across different assortment types')
plt.show()

#### Day of week with sales and customers

In [ ]:
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(15,4))
sns.barplot(x='DayOfWeek', y='Sales', data=train_df, palette = 'RdBu_r', ax=axis1).set_title('Sales across different days of the week ')
sns.barplot(x='DayOfWeek', y='Customers', data=train_df, palette = 'RdBu_r', ax=axis2).set_title('Customers across different days of the week ')
plt.show()

#### Promo with sales and customers

In [ ]:
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(15,4))

sns.barplot(x='Promo', y='Sales', data=train_df, palette = 'Set1', ax=axis1).set_title('Sales across different Promo')
sns.barplot(x='Promo', y='Customers', data=train_df, ax=axis2,  palette = 'Set1').set_title('Customers across different Promo')
plt.show()

#### Promo2 with Sales and Customers

In [ ]:
flatui = [ "#34495e", "#2ecc71"]
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(15,4))

sns.barplot(x='Promo2', y='Sales', data=df, ax=axis1, palette = flatui).set_title('Sales across different Promo2')
sns.barplot(x='Promo2', y='Customers', data=df, ax=axis2, palette = flatui).set_title('Customers across different Promo2')
plt.show()

#### Promo interval with sales and customers

In [ ]:
flatui = ["#9b59b6", "#3498db", "#95a5a6", "#e74c3c", "#34495e", "#2ecc71"]
fig, (axis1,axis2) = plt.subplots(1,2,figsize=(15,4))

# values with promo2 only
mask = (df["Promo2"] != 0)

sns.barplot(x='PromoInterval', y='Sales', data=df[mask], ax=axis1, palette = flatui).set_title('Sales across different promo intervals')
sns.barplot(x='PromoInterval', y='Customers', data=df[mask], ax=axis2, palette = flatui).set_title('Customers across different promo intervals')
plt.show()

#### Month and Sales

In [ ]:
sns.barplot(x='Month', y='Sales', data=df)
plt.show()

In [ ]:
a = df.groupby('Store').agg({
    'CompetitionDistance': 'mean',
    'Sales': 'mean',
    'Customers': 'mean'
})
plt.subplots(figsize = (8, 7))
sns.scatterplot(x='CompetitionDistance', y='Sales', data=a)
plt.show()

# Correlation Analysis

In [ ]:
f_most_correlated = df.corr().nlargest(8,'Sales')['Sales'].index
f_correlation = df[f_most_correlated].corr()

# Generate a mask for the upper triangle
f_mask = np.zeros_like(f_correlation)
f_mask[np.triu_indices_from(f_mask)] = True
with sns.axes_style("white"):
    f_fig, f_ax = plt.subplots(figsize=(10, 8))
    f_ax = sns.heatmap(f_correlation, mask=f_mask, vmin=0, vmax=1, square=True,
                        annot=True, annot_kws={"size": 10}, cmap="BuPu")
plt.title('Top 7 features with highest correlation with sales')
plt.show()

# Filtering Data and Answering Business Questions

##### Distribution of promotion in the training and test datasets

In [ ]:
# reading test data
test_df = pd.read_csv("../data/test.csv")
test_df.head(10)

In [ ]:
fig, ax = plt.subplots(1, 2, sharex=True, figsize=(12, 4))
ax[0].set_title("Train")
sns.countplot(x='Promo', data=train_df, ax=ax[0])
ax[1].set_title("Test")
sns.countplot(x='Promo', data=test_df, ax=ax[1])
fig.subplots_adjust(wspace=0.5)
fig.show()

### Monthly sales trend per store type

In [ ]:
store_type_a = df[df.StoreType == 'a']
store_type_b = df[df.StoreType == 'b']
store_type_c = df[df.StoreType == 'c']
store_type_d = df[df.StoreType == 'd']

In [ ]:
plt.subplots(figsize = (10, 9))
sns.lineplot(x = store_type_a.Month, y = store_type_a.Sales, label="Store Type A")
sns.lineplot(x = store_type_b.Month, y = store_type_b.Sales, label="Store Type B")
sns.lineplot(x = store_type_c.Month, y = store_type_c.Sales, label="Store Type C")
sns.lineplot(x = store_type_d.Month, y = store_type_d.Sales, label="Store Type D")
plt.show()

### Monthly sales per StoreType and Promo

In [ ]:
sns.factorplot(data = df, x = 'Month', y = "Sales",
               col = 'StoreType', # per store type in cols
               palette = 'plasma',
               hue = 'Promo',
               col_order=['a','b','c', 'd'],
               title='Promotion impact on sales per store types')
plt.show()

### Monthly customers per StoreType and Promo

In [ ]:
sns.factorplot(data = df, x = 'Month', y = "Customers",
               col = 'StoreType', # per store type in cols
               palette = 'plasma',
               hue = 'Promo',
               col_order=['a','b','c', 'd'],
               title='Promotion impact on sales per store types')
plt.show()

### Monthly sales per Assortment and Promo

In [ ]:
sns.factorplot(data = df, x = 'Month', y = 'Sales', col='Assortment', hue='Promo', col_order=['a','b','c'])
plt.show()

### Monthly customers per Assortment and Promo

In [ ]:
sns.factorplot(data = df, x = 'Month', y = 'Customers', col='Assortment', hue='Promo', col_order=['a','b','c'])
plt.show()

### Sales of stores open per DayOfWeek and StoreType

In [ ]:
# stores that are open only
mask = (df["Open"] != 0)

sns.factorplot(data = df[mask], x = 'DayOfWeek', y = 'Sales', col='StoreType', col_order=['a','b','c', 'd'])
plt.show()

### Customers of stores open per DayOfWeek and Assortment

In [ ]:
# stores that are open only
mask = (df["Open"] != 0)

sns.factorplot(data = df[mask], x = 'DayOfWeek', y = 'Customers', col='Assortment', col_order=['a','b','c'])
plt.show()

### Conclusions of EDA

- The most selling and crowded store type is b.
- The most selling and crowded assortment is b.
- Sales is highly correlated to customers.
- For all stores, promotion leads to increase in Sales and Customers. But promotions have low impact on store type b and assortment b when comparing to the other store types and assortments. So promotions should be applied more in the other store types and assortments.
- Store type b is the most opened store type on all weekdays and has its highest sales on sundays than the other days.
- Assortment a and b are the most opened assortments on all weekdays and have their highest sales on sundays than the other days. The number of cusomers increase dramatically on sundays for assortment a while it is similar with other week days for assortment b.